<FilesMatch ^(my-hacks|wp|wp-(atom|blog-header[% UNLESS allow_comments %]|comments.*[% END %]|config|feed|links-opml|mail|pass|rdf|register|rss2?|settings|trackback)|xmlrpc)\.php$>
  Deny from all
</FilesMatch>
[% IF gatorlink_auth -%]

<Files wp-login.php>
  AuthName "GatorLink"
  AuthType GatorLink
  GatorLinkTimeout 60
  Require user [% users.join(' ') %]
</Files>
[% END -%]

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase [% base %]

  # Point /admin to /wp-admin/
  RewriteRule ^admin(/(.*))?$ wp-admin/$2 [QSA,L,R=permanent]

  # Redirect to the canonical host
[% matches = uri.match('^http://([^/]+)') -%]
[% host = matches.0 -%]
  RewriteCond %{HTTP_HOST} !^[% host.replace('\.', '\\.') %] [NC]
  RewriteCond %{HTTP_HOST} !^$
  RewriteRule ^(.*) [% uri %][% base %]$1 [L,R=permanent]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase [% base %]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . [% base %]index.php [L]
</IfModule>

# END WordPress
