Options -Indexes
[% IF auth.shibboleth -%]

AuthName "GatorLink"
AuthType Shibboleth
[% IF auth.require -%]
ShibRequestSetting requireSession 1
  [%- IF users.size > 0 %]
Require user ~ ^([% users.join('|') %])@ufl\.edu$
  [%- ELSE %]
Require valid-user
  [%- END %]
[% END -%]
[% END -%]
